*.pyc
*~
*output.txt
.ipynb_checkpoints
data/frequency/*
data/embeddings/*
data/community_stats/*
data/raw_data/*
data/users/*
data/images/*
data/metadata/*
data/similarity_results/*
scripts/wang2vec/*
scripts/histwords/*
scripts/*/.Rhistory
scripts/data_processing/ark-tweet-nlp-0.3.2/
output/
TACL_2017/*.log
TACL_2017/*.aux
TACL_2017/*.blg
TACL_2017/*.out
TACL_2017/*.gz
TACL_2017/*.bbl
writing/TACL_2017/*.log
writing/TACL_2017/*.aux
writing/TACL_2017/*.blg
writing/TACL_2017/*.out
writing/TACL_2017/*.gz
writing/TACL_2017/*.bbl
writing/*/*.log
writing/*/*.aux
writing/*/*.blg
writing/*/*.out
writing/*/*.gz
writing/*/*.bbl
*.DS_store